<div class="container">
  <div class="border border-success my-3 card-border">
    <h5 class="bg-success border border-success card-border-top text-white px-4 py-3 mb-0">
      Талон записи на приём
    </h5>
    <div class="row my-3">
      <div class="col-12 col-md-3 d-flex flex-column align-items-center justify-content-center ml-md-5">
        <h5 class="text-center info-card text-uppercase text-success">Врач</h5>
        <%= image_tag @event.expert.image, size: 150, class: "avatar-contain m-3 img-fluid" %>
        <p class="text-center text-uppercase"><%= @event.expert.full_name %></p>
        <p class="text-center text-uppercase text-secondary"><%= @event.expert.category.name %></p>
      </div>
      <div class="col-12 col-md-6 text-black-50 d-flex flex-column justify-content-center
       align-items-center">
        <h5 class="text-success mb-3">Информация о приёме</h5>
        <p>
         
        <p>
          <i class="fa fa-phone-alt text-success"></i>
          <strong> Тип приёма: </strong> <%= @event.type_of_call %>
        </p>
        <p>
          <i class="fa fa-comment text-success"></i>
          <strong> Коментарий: </strong> <%= @event.comment %>
        </p>
      </div>
      <div class="col-12 col-md-3 d-flex flex-column align-items-center justify-content-center ml-md-5">
        <h5 class="text-center info-card text-uppercase text-success">Пациент</h5>
        
        <p class="text-center text-uppercase"><%= @event.user.name %></p>
      </div>
    </div>
  </div>
</div>
