<div class="container">
  <%= link_to "Назад", :back, class: "btn btn-primary text-white" %>
  <h2 class="my-4 text-primary text-center">Добавить запись в карту вакцинаций</h2>
  <div class="position-relative mb-4">
    <h4 class="text-center text-black-50"><%= @user.name if @user.name.present?%></h4>
  </div>
  <%= form_with(model: @vaccine, url: params[:child_id] ? user_child_vaccine_path : user_vaccine_path, :method => :put) do |f| %>
    <div class="d-flex flex-wrap edit-vaccine-table">
      <div class="p-2 col-6 col-sm-4 col-md-3 col-lg-2">
        <p class="m-0">Гепатит А</p>
        <small>1-я вакцинация</small>
        <% if @vaccines.hepatitis_a_1w %>
          <p class="m-0 alert alert-success p-2"><%= @vaccines.hepatitis_a_1w.strftime('%d-%m-%Y') %></p>
        <% else %>
          <%= f.date_field :hepatitis_a_1w, :value => Time.now.strftime('%d-%m-%Y'), :class => "form-control" %>
        <% end %>
      </div>
      <div class="p-2 col-6 col-sm-4 col-md-3 col-lg-2">
        <p class="m-0">Гепатит А</p>
        <small>2-я вакцинация</small>
        <% if @vaccines.hepatitis_a_2w %>
          <p class="m-0 alert alert-success p-2"><%= @vaccines.hepatitis_a_2w.strftime('%d-%m-%Y') %></p>
        <% else %>
          <%= f.date_field :hepatitis_a_2w, :value => Time.now.strftime('%d-%m-%Y'), :class => "form-control" %>
        <% end %>
      </div>
      <div class="p-2 col-6 col-sm-4 col-md-3 col-lg-2">
        <p class="m-0">Гепатит B</p>
        <small>1-я вакцинация</small>
        <% if @vaccines.hepatitis_b_1w %>
          <p class="m-0 alert alert-success p-2"><%= @vaccines.hepatitis_b_1w.strftime('%d-%m-%Y') %></p>
        <% else %>
          <%= f.date_field :hepatitis_b_1w, :value => Time.now.strftime('%d-%m-%Y'), :class => "form-control" %>
        <% end %>
      </div>
      <div class="p-2 col-6 col-sm-4 col-md-3 col-lg-2">
        <p class="m-0">Гепатит B</p>
        <small>2-я вакцинация</small>
        <% if @vaccines.hepatitis_b_2w %>
          <p class="m-0 alert alert-success p-2"><%= @vaccines.hepatitis_b_2w.strftime('%d-%m-%Y') %></p>
        <% else %>
          <%= f.date_field :hepatitis_b_2w, :value => Time.now.strftime('%d-%m-%Y'), :class => "form-control" %>
        <% end %>
      </div>
      <div class="p-2 col-6 col-sm-4 col-md-3 col-lg-2">
        <p class="m-0">Гепатит B</p>
        <small>3-я вакцинация</small>
        <% if @vaccines.hepatitis_b_3w %>
          <p class="m-0 alert alert-success p-2"><%= @vaccines.hepatitis_b_3w.strftime('%d-%m-%Y') %></p>
        <% else %>
          <%= f.date_field :hepatitis_b_3w, :value => Time.now.strftime('%d-%m-%Y'), :class => "form-control" %>
        <% end %>
      </div>
      <div class="p-2 col-6 col-sm-4 col-md-3 col-lg-2">
        <p class="m-0">Туберкулёз</p>
        <small>1-я вакцинация</small>
        <% if @vaccines.tuberculosis %>
          <p class="m-0 alert alert-success p-2"><%= @vaccines.tuberculosis.strftime('%d-%m-%Y') %></p>
        <% else %>
          <%= f.date_field :tuberculosis, :value => Time.now.strftime('%d-%m-%Y'), :class => "form-control" %>
        <% end %>
      </div>
      <div class="p-2 col-6 col-sm-4 col-md-3 col-lg-2">
        <p class="m-0">Пневмокок</p>
        <small>1-я вакцинация</small>
        <% if @vaccines.pneumococcus_1w %>
          <p class="m-0 alert alert-success p-2"><%= @vaccines.pneumococcus_1w.strftime('%d-%m-%Y') %></p>
        <% else %>
          <%= f.date_field :pneumococcus_1w, :value => Time.now.strftime('%d-%m-%Y'), :class => "form-control" %>
        <% end %>
      </div>
      <div class="p-2 col-6 col-sm-4 col-md-3 col-lg-2">
        <p class="m-0">Пневмокок</p>
        <small>2-я вакцинация</small>
        <% if @vaccines.pneumococcus_2w %>
          <p class="m-0 alert alert-success p-2"><%= @vaccines.pneumococcus_2w.strftime('%d-%m-%Y') %></p>
        <% else %>
          <%= f.date_field :pneumococcus_2w, :value => Time.now.strftime('%d-%m-%Y'), :class => "form-control" %>
        <% end %>
      </div>
      <div class="p-2 col-6 col-sm-4 col-md-3 col-lg-2">
        <p class="m-0">Пневмокок</p>
        <small>3-я вакцинация</small>
        <% if @vaccines.pneumococcus_3w %>
          <p class="m-0 alert alert-success p-2"><%= @vaccines.pneumococcus_3w.strftime('%d-%m-%Y') %></p>
        <% else %>
          <%= f.date_field :pneumococcus_3w, :value => Time.now.strftime('%d-%m-%Y'), :class => "form-control" %>
        <% end %>
      </div>
      <div class="p-2 col-6 col-sm-4 col-md-3 col-lg-2">
        <p class="m-0">Менингокок</p>
        <small>1-я вакцинация</small>
        <% if @vaccines.meningococcus_1w %>
          <p class="m-0 alert alert-success p-2"><%= @vaccines.meningococcus_1w.strftime('%d-%m-%Y') %></p>
        <% else %>
          <%= f.date_field :meningococcus_1w, :value => Time.now.strftime('%d-%m-%Y'), :class => "form-control" %>
        <% end %>
      </div>
      <div class="p-2 col-6 col-sm-4 col-md-3 col-lg-2">
        <p class="m-0">Менингокок</p>
        <small>2-я вакцинация</small>
        <% if @vaccines.meningococcus_2w %>
          <p class="m-0 alert alert-success p-2"><%= @vaccines.meningococcus_2w.strftime('%d-%m-%Y') %></p>
        <% else %>
          <%= f.date_field :meningococcus_2w, :value => Time.now.strftime('%d-%m-%Y'), :class => "form-control" %>
        <% end %>
      </div>
      <div class="p-2 col-6 col-sm-4 col-md-3 col-lg-2">
        <p class="m-0">Ветряная оспа</p>
        <small>1-я вакцинация</small>
        <% if @vaccines.varicella_1w %>
          <p class="m-0 alert alert-success p-2"><%= @vaccines.varicella_1w.strftime('%d-%m-%Y') %></p>
        <% else %>
          <%= f.date_field :varicella_1w, :value => Time.now.strftime('%d-%m-%Y'), :class => "form-control" %>
        <% end %>
      </div>
      <div class="p-2 col-6 col-sm-4 col-md-3 col-lg-2">
        <p class="m-0">Ветряная оспа</p>
        <small>2-я вакцинация</small>
        <% if @vaccines.varicella_2w %>
          <p class="m-0 alert alert-success p-2"><%= @vaccines.varicella_2w.strftime('%d-%m-%Y') %></p>
        <% else %>
          <%= f.date_field :varicella_2w, :value => Time.now.strftime('%d-%m-%Y'), :class => "form-control" %>
        <% end %>
      </div>
      <div class="p-2 col-6 col-sm-4 col-md-3 col-lg-2">
        <p class="m-0"><abbr title="Корь - Паротит - Краснуха">КПК</abbr></p>
        <small>1-я вакцинация</small>
        <% if @vaccines.morbilli_mumps_rubella_1w %>
          <p class="m-0 alert alert-success p-2"><%= @vaccines.morbilli_mumps_rubella_1w.strftime('%d-%m-%Y') %></p>
        <% else %>
          <%= f.date_field :morbilli_mumps_rubella_1w, :value => Time.now.strftime('%d-%m-%Y'), :class => "form-control" %>
        <% end %>
      </div>
      <div class="p-2 col-6 col-sm-4 col-md-3 col-lg-2">
        <p class="m-0"><abbr title="Корь - Паротит - Краснуха">КПК</abbr></p>
        <small>2-я вакцинация</small>
        <% if @vaccines.morbilli_mumps_rubella_2w %>
          <p class="m-0 alert alert-success p-2"><%= @vaccines.morbilli_mumps_rubella_2w.strftime('%d-%m-%Y') %></p>
        <% else %>
          <%= f.date_field :morbilli_mumps_rubella_2w, :value => Time.now.strftime('%d-%m-%Y'), :class => "form-control" %>
        <% end %>
      </div>
      <div class="p-2 col-6 col-sm-4 col-md-3 col-lg-2">
        <p class="m-0"><abbr title="Коклюш - Дифтерия - Столбняк">АКДС</abbr></p>
        <small>1-я вакцинация</small>
        <% if @vaccines.diphtheria_tetanus_pertussis_1w %>
          <p class="m-0 alert alert-success p-2"><%= @vaccines.diphtheria_tetanus_pertussis_1w.strftime('%d-%m-%Y') %></p>
        <% else %>
          <%= f.date_field :diphtheria_tetanus_pertussis_1w, :value => Time.now.strftime('%d-%m-%Y'), :class => "form-control" %>
        <% end %>
      </div>
      <div class="p-2 col-6 col-sm-4 col-md-3 col-lg-2">
        <p class="m-0"><abbr title="Коклюш - Дифтерия - Столбняк">АКДС</abbr></p>
        <small>2-я вакцинация</small>
        <% if @vaccines.diphtheria_tetanus_pertussis_2w %>
          <p class="m-0 alert alert-success p-2"><%= @vaccines.diphtheria_tetanus_pertussis_2w.strftime('%d-%m-%Y') %></p>
        <% else %>
          <%= f.date_field :diphtheria_tetanus_pertussis_2w, :value => Time.now.strftime('%d-%m-%Y'), :class => "form-control" %>
        <% end %>
      </div>
      <div class="p-2 col-6 col-sm-4 col-md-3 col-lg-2">
        <p class="m-0"><abbr title="Коклюш - Дифтерия - Столбняк">АКДС</abbr></p>
        <small>3-я вакцинация</small>
        <% if @vaccines.diphtheria_tetanus_pertussis_3w %>
          <p class="m-0 alert alert-success p-2"><%= @vaccines.diphtheria_tetanus_pertussis_3w.strftime('%d-%m-%Y') %></p>
        <% else %>
          <%= f.date_field :diphtheria_tetanus_pertussis_3w, :value => Time.now.strftime('%d-%m-%Y'), :class => "form-control" %>
        <% end %>
      </div>
      <div class="p-2 col-6 col-sm-4 col-md-3 col-lg-2">
        <p class="m-0"><abbr title="Коклюш - Дифтерия - Столбняк">АКДС</abbr></p>
        <small>1-я ревакцинация</small>
        <% if @vaccines.diphtheria_tetanus_pertussis_1rw %>
          <p class="m-0 alert alert-success p-2"><%= @vaccines.diphtheria_tetanus_pertussis_1rw.strftime('%d-%m-%Y') %></p>
        <% else %>
          <%= f.date_field :diphtheria_tetanus_pertussis_1rw, :value => Time.now.strftime('%d-%m-%Y'), :class => "form-control" %>
        <% end %>
      </div>
      <div class="p-2 col-6 col-sm-4 col-md-3 col-lg-2">
        <p class="m-0"><abbr title="Коклюш - Дифтерия - Столбняк">АКДС</abbr></p>
        <small>2-я ревакцинация</small>
        <% if @vaccines.diphtheria_tetanus_pertussis_2rw %>
          <p class="m-0 alert alert-success p-2"><%= @vaccines.diphtheria_tetanus_pertussis_2rw.strftime('%d-%m-%Y') %></p>
        <% else %>
          <%= f.date_field :diphtheria_tetanus_pertussis_2rw, :value => Time.now.strftime('%d-%m-%Y'), :class => "form-control" %>
        <% end %>
      </div>
      <div class="p-2 col-6 col-sm-4 col-md-3 col-lg-2">
        <p class="m-0"><abbr title="Коклюш - Дифтерия - Столбняк">АКДС</abbr></p>
        <small>3-я ревакцинация</small>
        <% if @vaccines.diphtheria_tetanus_pertussis_3rw %>
          <p class="m-0 alert alert-success p-2"><%= @vaccines.diphtheria_tetanus_pertussis_3rw.strftime('%d-%m-%Y') %></p>
        <% else %>
          <%= f.date_field :diphtheria_tetanus_pertussis_3rw, :value => Time.now.strftime('%d-%m-%Y'), :class => "form-control" %>
        <% end %>
      </div>
      <div class="p-2 col-6 col-sm-4 col-md-3 col-lg-2">
        <p class="m-0">ХИБ-инфекция</p>
        <small>1-я вакцинация</small>
        <% if @vaccines.hib_desease_1w %>
          <p class="m-0 alert alert-success p-2"><%= @vaccines.hib_desease_1w.strftime('%d-%m-%Y') %></p>
        <% else %>
          <%= f.date_field :hib_desease_1w, :value => Time.now.strftime('%d-%m-%Y'), :class => "form-control" %>
        <% end %>
      </div>
      <div class="p-2 col-6 col-sm-4 col-md-3 col-lg-2">
        <p class="m-0">ХИБ-инфекция</p>
        <small>2-я вакцинация</small>
        <% if @vaccines.hib_desease_2w %>
          <p class="m-0 alert alert-success p-2"><%= @vaccines.hib_desease_2w.strftime('%d-%m-%Y') %></p>
        <% else %>
          <%= f.date_field :hib_desease_2w, :value => Time.now.strftime('%d-%m-%Y'), :class => "form-control" %>
        <% end %>
      </div>
      <div class="p-2 col-6 col-sm-4 col-md-3 col-lg-2">
        <p class="m-0">ХИБ-инфекция</p>
        <small>3-я вакцинация</small>
        <% if @vaccines.hib_desease_3w %>
          <p class="m-0 alert alert-success p-2"><%= @vaccines.hib_desease_3w.strftime('%d-%m-%Y') %></p>
        <% else %>
          <%= f.date_field :hib_desease_3w, :value => Time.now.strftime('%d-%m-%Y'), :class => "form-control" %>
        <% end %>
      </div>
      <div class="p-2 col-6 col-sm-4 col-md-3 col-lg-2">
        <p class="m-0">ХИБ-инфекция</p>
        <small>4-я вакцинация</small>
        <% if @vaccines.hib_desease_4w %>
          <p class="m-0 alert alert-success p-2"><%= @vaccines.hib_desease_4w.strftime('%d-%m-%Y') %></p>
        <% else %>
          <%= f.date_field :hib_desease_4w, :value => Time.now.strftime('%d-%m-%Y'), :class => "form-control" %>
        <% end %>
      </div>
      <div class="p-2 col-6 col-sm-4 col-md-3 col-lg-2">
        <p class="m-0">Ротавирус</p>
        <small>1-я вакцинация</small>
        <% if @vaccines.rota_1w %>
          <p class="m-0 alert alert-success p-2"><%= @vaccines.rota_1w.strftime('%d-%m-%Y') %></p>
        <% else %>
          <%= f.date_field :rota_1w, :value => Time.now.strftime('%d-%m-%Y'), :class => "form-control" %>
        <% end %>
      </div>
      <div class="p-2 col-6 col-sm-4 col-md-3 col-lg-2">
        <p class="m-0">Ротавирус</p>
        <small>2-я вакцинация</small>
        <% if @vaccines.rota_2w %>
          <p class="m-0 alert alert-success p-2"><%= @vaccines.rota_2w.strftime('%d-%m-%Y') %></p>
        <% else %>
          <%= f.date_field :rota_2w, :value => Time.now.strftime('%d-%m-%Y'), :class => "form-control" %>
        <% end %>
      </div>
      <div class="p-2 col-6 col-sm-4 col-md-3 col-lg-2">
        <p class="m-0">Covid-19</p>
        <small>1-я вакцинация</small>
        <% if @vaccines.covid19_1w %>
          <p class="m-0 alert alert-success p-2"><%= @vaccines.covid19_1w.strftime('%d-%m-%Y') %></p>
        <% else %>
          <%= f.date_field :covid19_1w, :value => Time.now.strftime('%d-%m-%Y'), :class => "form-control" %>
        <% end %>
      </div>
      <div class="p-2 col-6 col-sm-4 col-md-3 col-lg-2">
        <p class="m-0">Covid-19</p>
        <small>2-я вакцинация</small>
        <% if @vaccines.covid19_2w %>
          <p class="m-0 alert alert-success p-2"><%= @vaccines.covid19_2w.strftime('%d-%m-%Y') %></p>
        <% else %>
          <%= f.date_field :covid19_2w, :value => Time.now.strftime('%d-%m-%Y'), :class => "form-control" %>
        <% end %>
      </div>
    </div>
    <div class="py-3">
      <%= f.submit "Сохранить",
                   class: "btn btn-primary btn-lg text-white w-100 my-3",
                   data: { confirm: 'Проверьте правильность введения дат, изменить Вы их не сможете' } %>
    </div>
  <% end %>
</div>
